<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Time Clock</h1>
      <form action="/clock" method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control col-md-4"
            aria-describedby="username"
            placeholder="Username"
            name="username"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary" name="clock_type" value="in">
          Clock in
        </button>
        <button type="submit" class="btn btn-danger" name="clock_type" value="out">
          Clock out
        </button>
      </form>
      <hr />
      <h2>History</h2>
      <% @records.each do |record| %>
      <div>
        <%= record.username %> clocked <%= record.clock_type %> at <%= record.created_at.in_time_zone('Eastern Time (US & Canada)').strftime "%l:%M:%S %p, %b %e, %Y" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
