<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Time Clock</h1>
      <form>
        <div class="form-group">
          <label for="username">Name</label>
          <input
            type="text"
            class="form-control"
            id="username"
            aria-describedby="username"
            placeholder="Name"
          />
        </div>
        <button type="submit" class="btn btn-primary">Clock in</button>
        <button type="submit" class="btn btn-danger">Clock out</button>
      </form>
      <hr>
      <h2>Logs</h2>
    </div>
  </div>
</div>