<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Time Clock</h1>
      <form action="/clock" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            aria-describedby="username"
            placeholder="Username"
            name="username"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary" name="clock_type" value="in">Clock in</button>
        <button type="submit" class="btn btn-danger" name="clock_type" value="out">Clock out</button>
      </form>
      <hr>
      <h2>History</h2>
    </div>
  </div>
</div>